
/******************* additional reset *******************/
a{
    text-decoration: none;
    color: inherit;
}
a:visited{
    color: inherit;
}
/******************* custome style *******************/
body{
    background-image: url(images/chaos.jpeg);
    background-size: cover;
    background-attachment: fixed;
    color: beige;
}
header{
    padding-top: 3vh;
    height: 10vh;
    font-size: 5vh;
    text-align: center;
}

@media screen and ( max-width:768px) {
    /*　画面サイズが768px未満ならここを読み込む　*/
    header{
        height: 20vh;
    }
    header span{
        display: block;
    }
    header span:nth-of-type(1) {
        text-align: left;
        margin-left: 18vw;
    }
    header span:nth-of-type(2) {
        text-align: right;
        margin-right: 18vw;
    }
}
main{
    font-size: 1rem;
    min-height: 85vh;
    text-align: center;
    display: grid;
    grid-template:
        "..... article1 article2 article3 ....." 25vh
        "..... article4 article5 article6 ....." 25vh
        "..... article7 article8 article9 ....." 25vh
        /12.5vw 25vw 25vw 25vw 12.5vw;
}
@media screen and ( max-width:768px) {
    /*　画面サイズが768px未満ならここを読み込む　*/
    main{
        min-height: 100vh;
        grid-template:
        "..... article1 ....." 20vh
        "..... article2 ....." 20vh
        "..... article3 ....." 20vh
        "..... article4 ....." 20vh
        "..... article5 ....." 20vh
        "..... article6 ....." 20vh
        "..... article7 ....." 20vh
        "..... article8 ....." 20vh
        "..... article9 ....." 20vh
        /10vw 80vw 10vw;
    }
}

div[class^="art-"]{
    border: 1px solid black;
    text-align: center;
    transition: all .4s;
    opacity: 0.3;
    background-color: darkgrey;
}
div[class^="art-"] a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.art-1{
    grid-area: article1;
    background-color: black;
    opacity: 0.5;
}
.art-1 img{
    width: 70%;
}

.art-2{
    grid-area: article2;
}
.art-3{
    grid-area: article3;
}
.art-4{
    grid-area: article4;
}
.art-5{
    grid-area: article5;
}
.art-6{
    grid-area: article6;
}
.art-7{
    grid-area: article7;
}
.art-8{
    grid-area: article8;
}
.art-9{
    grid-area: article9;
}
.target{
    transition: all .4s;
}
footer{
    text-align: right;
    margin-right: 3vw;
}

/******************* css event *******************/
/* hover：SPならクリック時 */
/* 各作品に対して */
div[class^="art-"]:hover{
    opacity: 0.7;

}
/* ホバー子要素のaタグ配下にある「target」クラスに対して */
div[class^="art-"]:hover > a .target{
    /* transform: scale(1.2, 1) translateY(10px); */
    transform: scale(1.2, 1);
}

