/* style */
*{
    box-sizing: border-box;
}
/* PC向け */
@media (max-width: 1020px) and (min-width: 768px) {
    p{
        color: brown;
    } 
}

/* SP向け */
@media (max-width: 767px) { 
    p{
        color: aliceblue;
    }
}


nav{
    width: 100%;
    background-color: black;
}
li{
    width: 25%;
    background-color: aqua;
    border: black solid 1px;
}




